.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left:16rem;
}

h1{
    font-size: 24px;
    text-align: center;
    margin-bottom: 2rem;
}


figcaption{
    font-size: 20px;
    margin-bottom: 10px;
    margin-left:6rem;
}

p{
    font-size: 20px;
    margin:5px;
    margin-bottom: 15px;
}